<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Titanic Dashboard</title>
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body class="bg-dark">
    <div class="wrapper">
        <nav class="navbar fixed-top navbar-dark navbar-expand-lg" style="background-color: cornflowerblue">
            <a class="navbar-brand" href="#main">Titanic Dashboard</a>
            <a class="navbar-brand" href="#background-info">Background</a>
            <a class="navbar-brand" href="#passenger-container">Passenger Generator</a>
            <a class="navbar-brand" href="#charts">Interactive Charts</a>
            <a class="navbar-brand" href="#statistical-analysis">Statistical Analysis</a>
            <a class="navbar-brand" href="#model">Would You Survive?</a>
        </nav>
    </div>
    <div class="jumbotron" id="main">
        <h1 class="display-4">Titanic Dashboard</h1>
    </div>

    <!-- Text talking about Titanic and lead in to analysis -->        
    <div class="container-fluid" id="background-info">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                    <img src="../static/images/leavingSouthampton.jpg" class="border border-white rounded" width="auto" height="400">
            </div>
            <div class="col-md-4 description-card" style="background-color: cornflowerblue; border-radius: 100px;">                
                <h2>Background</h2>
                <p>
                    The RMS Titanic was an iconic, heralded passenger liner that sunk over the North Atlantic ocean on April 15, 1912. 
                    When the ship - which weighed over 100 million pounds and was the largest in the world at the time - met its fate, 
                    over 68% of the passengers and crew perished; however, over 700 of the two-thousand-plus passengers were saved and 
                    survived the wreck. Survival depended on many factors, but some factors may have influenced survival more than others. 
                    Below, create a fictional character on the Titanic ship, and based on information such as class, sex, and more, find out 
                    if our unique model predicts that you would have survived or perished if you were on the Titanic's ill-fated maiden voyage!
                </p>
            </div> 
            <div class="col-md-2"></div>
        </div>
    </div>

    <!-- GENERATE RANDOM PASSENGER -->
    <div class="container-fluid" id="passenger-container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4 description-card" style="background-color: cornflowerblue; border-radius: 100px;">
                <h2>Passenger Profiles</h2>
                <p>
                    Over 2,000 crew members and passengers were on board the Titanic. 
                    Click on the button to generate a profile of a random passenger, 
                    including whether they survived or not.
                </p>
            </div>
            <div class="col-md-4">
                <div class="passenger-container">
                    <div class="container">
                        <div class="card" style="width: 55rem;">             
                                <div class="col-md-4">
                                    <div class="rounded float-right">
                                        <img class="img-fluid" src="../static/images/captainSmith.jpg" alt="Card image cap">
                                    </div>
                                </div>
                                <div class="col-md-8">
                                    <div class="card-body">
                                        <h3>Random Passenger Generator</h3>
                                        <h5 class="card-title"><span id="passengerName">{{ random_passenger[0] }}</span></h5>
                                        <br> Gender: <span id="passengerGender">{{ random_passenger[1] }}</span>
                                        <br><br>Age: <span id="passengerAge">{{ random_passenger[2] }}</span>
                                        <br><br>Class: <span id="passengerClass">{{ random_passenger[3] }}</span>
                                        <br><br>Departed from: <span id="passengerPort">{{ random_passenger[4] }}</span>
                                        <br><br>Country of Origin: <span id="passengerCountry">{{ random_passenger[5] }}</span>
                                        <br><br>Ticket Number: <span id="passengerTicketNumber">{{ random_passenger[6] }}</span>
                                        <br><br>Ticket Price: <span id="passengerTicketPrice">{{ random_passenger[7] }}</span>
                                        <br><br>Survived:   <img id="passengerSurvived" src="{{ random_passenger[10] }}"/>
                                        <br><br>
                                        <a class="btn btn-primary" onclick="fetchpassenger()">Generate Passenger</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!-- For Kira's Tableau -->
    <div class="container-fluid" id="charts">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class='tableauPlaceholder' id='viz1653841208137' style='position: relative'>
                    <noscript>
                        <a href='#'><img alt='Titanic Survival ' src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;KN&#47;KN4XTM5YN&#47;1_rss.png' style='border: none' />
                        </a>
                    </noscript>
                    <object class='tableauViz'  style='display:none;'>
                        <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                        <param name='embed_code_version' value='3' />
                        <param name='path' value='shared&#47;KN4XTM5YN' />
                        <param name='toolbar' value='yes' />
                        <param name='static_image' value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;KN&#47;KN4XTM5YN&#47;1.png' />
                        <param name='animate_transition' value='yes' />
                        <param name='display_static_image' value='yes' />
                        <param name='display_spinner' value='yes' />
                        <param name='display_overlay' value='yes' />
                        <param name='display_count' value='yes' />
                        <param name='language' value='en-US' />
                    </object>
                </div>
                <script type='text/javascript'>
                    var divElement = document.getElementById('viz1653841208137');
                    var vizElement = divElement.getElementsByTagName('object')[0];
                    vizElement.style.width='100%';
                    vizElement.style.height=(divElement.offsetWidth*0.75)+'px';
                    var scriptElement = document.createElement('script');
                    scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
                    vizElement.parentNode.insertBefore(scriptElement, vizElement);
                </script>
            </div>
                       
            <div class="col-md-4 description-card" style="background-color: cornflowerblue; border-radius: 100px;">
                <h2>Plotting Survivability</h2>
                <p>
                    Interactive graphs were made using Tableau Public. Click through the slides
                    to see how survivability breaks down across various genders, boarding classes, 
                    and more.
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!-- For Erika's R Analysis -->
    <div class="container-fluid" id="statistical-analysis">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4" style="background-color: cornflowerblue; border-radius: 100px;">
                <h2>Statistical Analysis Using R</h2>
                <p>The Chi-Squared Test for independence was utilized to for this analysis. 
                    It compares two variables in a contingency table to see if they are 
                    related. In a more general sense, it tests to see whether distributions 
                    of categorical variables differ from each other. We tested the variables 
                    of gender, class, embarkment, and age against the chance of survival.
                </p>                 
                <p>
                    Since all Chi-Squared results fell under the .05 threshold 
                    for p-value, we can reject the null hypothesis that the gender, 
                    age, class, and embarkment location did not affect survivability. In 
                    summation, we can confirm our alternative hypothesis, that gender, age, 
                    class, and embarkment did in fact play a role in the survival rate of 
                    passengers on the titanic.
                </p>
            </div>            
            <div class="col-md-4">
                <code>
                </code>
                <!-- <iframe src="/Resources/R Resources/analysis-output.txt" title = "R Chi-Squared Test Output" width="500" height="300" frameBorder="0"></iframe> -->
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    
    <!-- Webapp for passing user input to model -->
    <div class="container-fluid" id="model">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8" style="background-color: cornflowerblue; border-radius: 100px;">
                <h2>Predicting Survivability</h2>
                <p>The full passenger and crew registry was used to train a decision 
                    tree model. Inputs to the model included features such as gender 
                    and boarding class. The model output is a simple "yes" or "no" in 
                    terms of whether the person survived or not. Select some model inputs 
                    below to create a theoretical passenger and see whether they survive!
                </p>
            </div>
            <div class="col-md-2"></div>
        </div>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4"  style="background-color: white">
                <form action="{{ url_for('main') }}" method="POST">
                    <fieldset>
                        <legend><h3>Model Inputs:</h3></legend>
                        Gender:
                        <br>
                        <input name="gender" id="male" value="1" type="radio" checked>
                        <label for="male">male</label><br>
                        <input name="gender" id="female" value="0" type="radio">
                        <label for="female">female</label><br>
                        <br>
                        <br> Age:
                        <br>
                        <input name="age" type="number" value="22" required>
                        <br>
                        <br> Boarding Class:
                        <br>
                        <input name="board_class" id="1st" value="1st" type="radio" checked>
                        <label for="1st">1st Class</label><br>
                        <input name="board_class" id="2nd" value="2nd" type="radio">
                        <label for="2nd">2nd Class</label><br>
                        <input name="board_class" id="3rd" value="3rd" type="radio">
                        <label for="3rd">3rd Class</label><br>
                        <input name="board_class" id="crew" value="crew" type="radio">
                        <label for="crew">Part of the ship, part of the crew...</label><br>
                        <br>
                        <br> Embarked:
                        <br>
                        <input name="embarked" id="B" value="B" type="radio" checked>
                        <label for="B">Belfast, Ireland</label><br>
                        <input name="embarked" id="C" value="C" type="radio">
                        <label for="C">Cherbourg, France</label><br>
                        <input name="embarked" id="Q" value="Q" type="radio">
                        <label for="Q">Queenstown, Ireland</label><br>
                        <input name="embarked" id="S" value="S" type="radio">
                        <label for="S">Southampton, England</label><br>            
                        <br>
                        <br> Country:
                        <br>
                        <input name="country" id="AFR" value="AFR" type="radio" checked>
                        <label for="AFR">Africa</label><br>
                        <input name="country" id="ASA" value="ASA" type="radio">
                        <label for="ASA">Asia</label><br>
                        <input name="country" id="AUS" value="AUS" type="radio">
                        <label for="AUS">Australia</label><br>
                        <input name="country" id="ENG" value="ENG" type="radio">
                        <label for="ENG">England</label><br>
                        <input name="country" id="EUR" value="EUR" type="radio">
                        <label for="EUR">Europe</label><br>
                        <input name="country" id="FIN" value="FIN" type="radio">
                        <label for="FIN">Finland</label><br>
                        <input name="country" id="IRL" value="IRL" type="radio">
                        <label for="IRL">Ireland</label><br>
                        <input name="country" id="LBN" value="LBN" type="radio">
                        <label for="LBN">Lebanon</label><br>
                        <input name="country" id="NAM" value="NAM" type="radio">
                        <label for="NAM">North America</label><br>
                        <input name="country" id="SAM" value="SAM" type="radio">
                        <label for="SAM">South America</label><br>
                        <input name="country" id="SWE" value="SWE" type="radio">
                        <label for="SWE">Sweden</label><br>
                        <input name="country" id="USA" value="USA" type="radio">
                        <label for="USA">United States of America</label>          
                        <br>
                        <br>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </fieldset>
                </form>
            </div>
            <div class="col-md-4"  style="background-color: white">
                <!-- Prints model prediction from user input form -->                
                <div class="result">
                <h3>Results</h3>
                    {% if result %}
                        {% for variable, value in original_input.items() %}
                            <b>{{ variable }}</b> : {{ value }}
                            <br>
                        {% endfor %}
                        <br>
                        <h4 style="font-size:50px">{{ result }}</h4>
                    {% else %}
                    <h4> Choose some options and click submit</h4>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    <!-- JavaScript to render JSON passenger array object in HTML -->
    <script>
        async function fetchpassenger(){
            const response = await fetch('http://127.0.0.1:5000/api/getpassenger', {
                
            })
            const json = await response.json()
            console.log(json)
            const passengerName = document.getElementById('passengerName')
            passengerName.innerText = json[0]
            const passengerGender = document.getElementById('passengerGender')
            passengerGender.innerText = json[1]
            const passengerAge = document.getElementById('passengerAge')
            passengerAge.innerText = json[2]
            const passengerClass = document.getElementById('passengerClass')
            passengerClass.innerText = json[3]
            const passengerPort = document.getElementById('passengerPort')
            passengerPort.innerText = json[4]
            const passengerCountry = document.getElementById('passengerCountry')
            passengerCountry.innerText = json[5]
            const passengerTicketNumber = document.getElementById('passengerTicketNumber')
            passengerTicketNumber.innerText = json[6]
            const passengerTicketPrice = document.getElementById('passengerTicketPrice')
            passengerTicketPrice.innerText = json[7]
            const passengerSurvived = document.getElementById('passengerSurvived')
            passengerSurvived.src = json[10]
            }
    </script>

</body>
</html>
