form {
    margin: auto;
    width: 35%;
    border-color: black;
    border-width: thick;
}

.jumbotron {
    background-image: url("../images/iceberg.JPG"); 
    background-size: 100% 100%;
    text-align: center;
    }

.result {
    margin: auto;
    width: 35%;
    text-align: left;
}

.card {
    flex-direction: row;
}

.card img {
    width: 30%;
}

.passenger-container {
    margin: auto;
}